.meta-info {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.site-info {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: gray;
  font-size: .8em;
  text-align: center;
  z-index: 3;

  a {
    color: currentColor;
  }
}