.section--home {
  width: 100vw;
  
  @include media-breakpoint-up(sm) {
    height: 100vh;
  }
}

.bg-img {
  position: absolute;
  top: $banner-size-small;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;

  .section--home & {
    position: fixed;
  }

  @include media-breakpoint-up(sm) {
    top: 0;
    height: 100%;
  }
}

.bg-img--lazy {
  position: relative;
}

.overlay--dark {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  @include gradient-y(rgba($chocolaterie, 0), rgba($chocolaterie, .7), 20%);
}
