[class *="section--"]:not(.section--home) {
  min-height: 100vh;

  & > .container-fluid {
    background: $white;
  }

  article {
    margin: 0 auto;
    max-width: 1170px;
    padding: 30px 0;

    @include media-breakpoint-up(md) {
      padding: 50px 30px;

    }
  }
  &:last-of-type {
    min-height: auto;
  }
}

.section {
  position: relative;

  a:not {
    text-decoration: underline;
    
    &:hover {
      text-decoration: none;
    }
  }
}


.img__frame {

  @include media-breakpoint-between(sm,md) {
    max-width: 340px;
    max-height: 340px;
  }
    
  @include media-breakpoint-down(sm) {
    margin: 90px 0 60px 0;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;

    circle {
      mix-blend-mode: multiply;
    }
    
  }
}

.img--framed {
  @include aspect-ratio(1,1);
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid #F3F0EA;
  box-shadow: -2px 2px 8px rgba($black, .2);
  z-index: 1;

  @include media-breakpoint-up(sm) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

   img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.spacer {
  @include media-breakpoint-up(sm) {
    height: $spacer-size;

    .sections .section:last-of-type & {
      height: calc(#{$spacer-size}/2);
      background: $smoke;
      background: $gray;
      // background: $magenta;
    }
  }
}
