.list--figure {
  @include media-breakpoint-up(sm) {
    width: 100%;
    margin: 0;
  }

  .list__items {

    ul{
      @extend %reset-ul;
    }
  }

  .list__title {
    margin: .4em 0;
  }

  .list__figure {
    padding: 0;
    @include aspect-ratio(1,1);
    overflow: hidden;
  }

  .list__details {
    @extend .flex--space;
    background: $smoke;
  }

  .list__item {
    padding: 10px;
    overflow: hidden;

    
    .list__content {
      position: relative;
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      min-height: 75px;
      @extend %card-look;
      overflow: hidden;
      
      @include media-breakpoint-up(sm) {
      }


      .list__cta {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        opacity: 0;
        background: rgba($white, .7);
        transform: translateY(100%);
        box-shadow: 1px 1px 1px rgba($black,.2);
        
        > * {
          height: 100%;
        }
        .icon-play {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: rgba($black, .5);
          font-size: 36px;
        }
      }
    }

    &:nth-of-type(-n+3) {
      .list__content {
      }
    }

    &:hover {

      * {
        transition:  .1s ease-out;
      }

      .list__cta {
        opacity: 1;
        transform: translateY(0%);
      }

      .list__details {
      }
    }
  }
  .list__meta {
    margin: 0 0 .5em;
    color: lighten($black, 50%);
    font-family: $font-fam-body;
    font-size: .9em;
    line-height: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.list__links {
  display: flex;
  align-items: center;
  padding-bottom: 5px;

}

.list__link {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  min-width: 80px;
  height: 35px;
  padding: 0 5px;
  font-size: .7em;
  text-shadow: 1px 1px 8px rgba($black,.1);
  line-height: 35px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba($black,.2);

  span {
    margin-left: 30px;
  }
}