
.notes--bubbly {
  position: absolute;
  width: 30%;
  left: 50%;
  bottom: -40px;
  text-align: center;
  transform: translateX(-50%);
  z-index: 4;
  
  &:hover {
    text-decoration: none;
  }


  svg { 
    position: relative;
    height: 100%;
    top: 25px;
    left: 10px;
    cursor: pointer;
    
    .note {
      fill: rgba($white,.5);
    }

  & + svg {
      top: 10px;
  }

  &:nth-of-type(3) {
    left: 24px;
  }

  &:nth-of-type(4) {
    top:-5px;
    left: 25px;
  }

  &:nth-of-type(5) {
    left: -20px;
  }

  &:nth-of-type(6) {
    left: 15px;
  }

  &:last-child {
    top: -15px;
    left: 20px;
  }
}

  @for $i from 1 through 6 {
    svg:nth-of-type(#{$i}) {
      animation-delay: $i * 0.1s;

    }
  }
}

